<html>
  <head>
    <style>
      .fb-color{
        background-color: #3b539b
      }
      .text-logo{
        font-size: 30px;
        color: white;
      }
      .header_img{
        width: 33%
      }
    </style>
    <!--BOOTSTRAP CSS import-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
<body>
  <!--Navbar-->
  <nav class="navbar navbar-dark fb-color">
    <a class="text-logo navbar-brand">Catbook</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </nav>
  <!--Navbar End-->
  <img class="header_img mx-auto d-block" src="{{url_for('static', filename='images/catbook_logo.jpg')}}">
  <div class="row">
      {% for cat in cats%}
      <div class="col-sm-4">
        <div class="card">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static', filename='images/cat1.jpg')}}">
                <div class="card-body">
                  <h5 class="card-title">{{cat.name}}</h5>
                  <p class="card-text">Votes: {{ cat.votes }}</p>
                  <a href="cats/{{cat.id}}" class="btn btn-primary">View details</a>

                </div>
              </div>
        </div>
      </div>
      {% endfor%}
    </div>
    <a href="/create" class="btn btn-primary">create</a>
  
  <!--BOOTSTRAP Javascript import-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>